/gui/logs/
/.venv/
/log/
/.idea/WebNovelScraper.iml
/.idea/vcs.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/modules.xml
/.idea/.gitignore
/cache/
/gui/logs/debug_runs/
/log/debug_runs/
/log/payload_snapshots/
/wnd_mod/
/.playwright-browsers/
/build/
/dist/
**/__pycache__/
*.pyc
